$color-white: #fff;
$color-offwhite: #f8f8f8;
$color-light-gray: #CECECE;
$color-gray: #767676;
$color-pink: #FFDAC9;
$color-default: #333;

$page-x-padding: 35px;
$page-y-padding: 15px;

$section-x-padding: 95px;
$section-y-padding: 50px;

$link-margin-right: 45px;
