@use '../variables' as var;

#location-section {
  overflow: auto;
  height: 500px;
  // padding: var.$page-y-padding var.$section-x-padding;

  font-family: 'DIN Condensed';


  & > .wrapper {
    // padding: var.$section-y-padding var.$section-x-padding;
  }

  #map {
    width: 100%;
    height: 500px;
  }

}
