@use '../variables' as var;

#section-steps {
  position: fixed;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  z-index: 10000;

  .counter {
    position: absolute;
    top: -6px;
    left: 3px;

    font-family: "DIN Condensed";
    font-size: 18px;
  }

  .line {
    width: 15px;

    margin-bottom: 25px;
    border-bottom: solid 2px var.$color-default;

    transition: width .5s;

    &.active {
      width: 30px;
    }
  }
}
